<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose a Language</title>
    <style>
      * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: "Poppins";
      }
      .lang {
        text-decoration: none;
        background: #333;
        padding: 10px 5px;
        border-radius: 5px;
        display: grid;
        place-items: center;
        gap: 5px;
        border: none;
        box-shadow: -5px 5px 5px 2px #33333357;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        transition: 0.3s;
      }
      .lang:focus {
        box-shadow: -1px 1px 5px 2px #33333357;
      }
      .lang:hover img {
        width: 215px;
        height: 135px;
      }
      .lang img {
        width: 200px;
        height: 120px;
        border-radius: 5px;
        transition: 0.3s;
      }

      .lang p {
        text-transform: uppercase;
      }

      .langs {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 100vh;
        gap: 15px;
      }
      body {
        background: #eee;
      }
    </style>
  </head>
  <body>
    <div class="langs">
      <% langs.forEach((lang , index) => { %>
      <a href="/<%= lang.lang %>" class="lang" key="<%=index%>">
        <p><%= lang.lang %> (<%= lang.code %>)</p>
        <img src="<%=lang.flag%>" />
      </a>
      <% }) %>
    </div>
  </body>
</html>
